.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #8B0000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  gap:10px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-right: 10px; 
  height: 40px;
}

@media (max-width: 768px) {
  .popup-content {
    width: 75%; 
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  width: 400px;
  animation: popup-slide 0.3s ease-out;
}

.popup h2 {
  font-size: 24px;
  text-align: center;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup label {
  font-size: 16px;
  height: 20px;
}

.popup input[type="text"],
.popup input[type="email"],
.popup input[type="password"],
.popup input[type="birthdate"] {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 25px;
}

.popup button[type="submit"] {
  height: 40px;
  padding: 14px 20px;
  font-size: 16px;
  background-color: #0077FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #8B0000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  gap: 10px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-right: 10px; 
  height: 40px;
}

@media (max-width: 768px) {
  .popup-content {
    width: 75%; 
    max-height: 86vh;
  }
}

.popup-appear {
  animation: popup-appear 0.5s ease-out;
  animation-fill-mode: forwards;
}

.popup-disappear {
  animation-fill-mode: forwards;
  animation: popup-disappear 0.5s ease-out;
}

@keyframes popup-appear {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popup-disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}
.pass{
  margin: 0;
}
.checkbox{
  width: 13px;
}