html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0; 
  margin: 0;
}

.header {
  background-color: #0077FF;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  width:100%;
  margin: 0; 
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-logo img {
  width: 100px;
  height: auto;
  margin-right: 5%;
}


.header-title {
  font-size: 28px;
}


.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-right: 20px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 50px;
  background-color: #003399;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}


.button:hover {
  background-color: #0055CC;
}

.button:active {
  background-color: #003399;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1 0 auto;
}

.main-info {
  width: 50%;
}

.main-info h2 {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}

.main-info p {
  margin-bottom: 50px;
  font-size: 18px;
}

.main-image {
  margin-right: 20px;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }

  .main-info {
    width: 100%;
  }

  .main-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }

  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  .button {
    font-size: 14px;
    padding: 5px 10px;
  }

  .header-title {
    font-size: 20px;
    margin-left: -10px;
  }

  .header-logo img {
    width: 80px;
    height: auto;
    margin-right: 5px;
  }

  .header-buttons {
    gap: 3px;
    margin-right: 5px;
    height: 50%;
    margin-bottom: 50px;
  }

  .footer p {
    font-size: 12px;
  }

  .main-info h2 {
    font-size: 18px;
  }
}

.footer {
  background-color: cornflowerblue;
  padding: 1% 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  width:100%;
  margin: 0; 
}

#text {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.textCent{
  text-align: center;
}